<table>
  <thead>
    <tr>
      <% headers.each do |attr| %>
        <th><%= attr.capitalize %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @queued.each do |x,att| %>
      <tr>
          <td><%= x.send[att.to_sym.capitalize] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
